.h1_home{
    color: #fff; 
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 80px;
}
.h2_home{
    color: #4f2158;
    margin-bottom: 70px;   
    margin-top: 30px; 
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 40px;
}
.p_home{
    font-weight: 100;
    color: #4f2158;
    text-align: justify;       
}

#conteiner_home{
    
  display: inline-block;
  /* position: relative; */
}
.navegacao{
    display: flex;
}
.banner_home{
    display: flex;
    background: url('https://cdn.pixabay.com/photo/2016/11/22/23/49/bright-1851267_960_720.jpg') no-repeat 100% center;
    /* background-size: 1220px; */
    background-size: 1263px;
    width: 100%;
    align-items: center;
    height: 75vh;
    
    }

.div_saudação{
    display: block;
    margin: 70px;
}
.informe{
    display: flex;
    text-align: center;
    justify-content: center;
    
}
.div_pag{
    display: block;
    width: 248px;
    margin: 30px;
    padding: 20px;
    border: 1px solid #c9c9c9;
    background: #cbf8d2;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.link_home{
text-decoration: none;
}
.h3_home{
    margin: 10px;
}
.card_img{
    border-radius: 7px 7px 0 0;
    margin-bottom: 20px;
    max-width: 175px;
    height: 160px;
}