*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: rgb(255, 255, 255);
    background-color:#fafdfa;
}
body, input, button, textarea{
    font: 500 18px   "Montserrat";
    font-style: normal;
}