/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
html{
    font-size: 10px;
}


#div_conteiner{
    width: 100%;
    border-radius: 2rem;  
    padding: 6.4rem 8rem;  
    display: flex;
    justify-content: center;
 }
  
.h1_calculo{
    color: #fff;
    font-size:3.5rem ;
    margin-top: 2rem;
}

.h2_calculo{
    margin: 2rem;
    color: #fff;
    font-size: 1.8rem;
    color: #d7f942;
}

.div_card{
    display: block;
    width: 36.7rem;
    height: auto;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    background: rgb(67, 141, 86);
    text-align: center;
    justify-content: center;
    align-items: center;
}
.form{
    margin-left: 3.5rem;
    width: 80%;
    padding: 2rem;
    
}
.nome{
    display:block ;
    font-size: 2rem;
    margin-bottom: 1rem;
   }

.input_calculo{
    width: 15%;
    height: auto;  
    border: none; 
    align-items: center;
    text-align: center;
}
.div_resultado{
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}
.h3_calculo{
    display: block; 
    margin-top: 2rem;
    font-size: 1.8rem;
}
.div_paragrafo_resultado{
    background: #e1f766;
    margin-left: 0.5rem;
    width: 35%;
    height: auto;
    border-radius: 3px;
    text-align: center;
    margin-top: 1.1rem;
  
}

.p_resultado{
    /* width: 100%; */
    color: rgb(100, 17, 79);
    font-size: 1.6rem;
   font-weight: bold;
   padding: 0.3rem;
   margin-top: 0.6rem;
   
}
@media screen and (max-width:400px){
    #div_conteiner{
        width: 100%;
        margin: 0;
        padding: 2rem;
    }
    .div_card{
        width: 100%;
    }
    .form{
        width: 100%;
        height: 40vh;
        display: block;
        margin: 0 0 3rem 0;
    }
    .input_calculo{
        width: 40%;
        height:  5vh;
    }
    .nome{
        size: 3rem;
    }
}



